.main-container {
	padding-bottom: 35px;
}

.bg {
	min-height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.transpanel {
  background-color: rgba(0, 0, 0, 0.6);

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 3px solid rgba(0, 0, 0, 0);

	-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,1);

	padding: 30px!important;
}

.transpanel p { color: white }

header {
	background-image: url(../img/header_5.png);
	min-height: 270px;
  background-position: center top;
  background-repeat: no-repeat;
}

.float{
	position:fixed;
	right:40px;
	bottom:40px;
	width: min-content;
}

#reload-btn {
	background-image: url(../img/repeat.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
	height:60px;
	width:60px;
	float: right;
}

#home-btn {
	background-image: url(../img/home.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
	height:34px;
	width:122px;
	float: right;
}

#game-logo {
	background-image: url(../img/game_logo.png);
	height: 180px;
	width: 300px;
	background-size: contain;
	background-repeat: no-repeat;
}

#about-button {
	margin-top: -15px;
	width: 150px;
	height: 50px;
	background-image: url(../img/about.png);
	background-size: contain;
}

#gallery-button {
	background-image: url(../img/buttons/gallery.png);
	height: 64px;
	width: 164px;
}

#nav-container {
	padding-top: 10px
}

#nav-container .col {
}