<p>
	Get the game here <a href="https://www.dlsite.com/maniax/work/=/product_id/RJ162718.html" target="_blank">[DLsite]</a>
</p>
<p>
	Teaching Feeling official support page <a href="http://goo.gl/HdKeP6" target="_blank">[tumblr]</a>
</p>
<p>
	Publisher/Circles: FreakilyCharming. Page here <a href="https://cutt.ly/DjEZWUf" target="_blank">[tumblr]</a>
</p>
<p>
	Game art and concept by Ray-K. You can find his Pixiv here <a href="https://www.pixiv.net/en/users/888112/artworks" target="_blank">[Pixiv]</a>
</p>
<p>
	This site wasn't made for profit. All art and game content belongs to its respective owners. Any and all content will be removed on request of their owners.
</p>
