<div id="nsfw-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="nsfw-modal-header" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
	<div class="modal-header">
		<h5 id="nsfw-modal-header" class="modal-title">Content Warning</h5>
		<button class="close" type="button" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">
		<p>
			While this site doesn't contain shocking or explicit content, source material and external links are NSFW and aimed at a mature audience. <b>Proceed?</b>
		</p>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
		<a href="https://neocities.org">
			<button type="button" class="btn btn-danger">No</button>
		</a>
	</div>
</div>
</div>
</div>